**/.ipynb_checkpoints/*
**/Untitled*.ipynb
.idea/*
.vscode/*
*.log
*/__pycache__/*
.DS_Store
*.pyc

outputs/
slurm_logs/
pipeline_status*.json
slurm-*.out

decay_locations/*.h5
decay_locations/malata.jld2
